<div class="container">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='alertShow'>
    {{erroMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class='container' *ngIf="new==false && visible">
  <button class="btn btn-primary" type="submit" (click)='newClick(true)'>Нов</button>
  <table class="table table-sm" id='userTable'>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Потребителско име</th>
        <th scope="col">Име</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Парола</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pagedItems">
        <td>
          {{user.id}}
        </td>
        <td>
          <input type="text" [(ngModel)]='user.username' required="true" class="form-control" placeholder="Username">
        </td>
        <td>
          <input type="text" [(ngModel)]='user.firstName' required="true" class="form-control" placeholder="First Name">
        </td>
        <td>
          <input type="text" [(ngModel)]='user.lastName' required="true" class="form-control" placeholder="Last Name">
        </td>
        <td>
          <input type="password" [(ngModel)]='user.password' required="true" class="form-control" placeholder="Password">
        </td>
        <td>
          <button class="btn btn-primary" type="submit" (click)='editUser(user)'>Промени</button>
        </td>
        <td>
          <button class="btn btn-secondary" type="submit" (click)='deleteUser(user)'>Изтрий</button>
        </td>
      </tr>
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(1)" class="page-link">&laquo;</a>
        </li>
        <!-- <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
        </li> -->
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
          <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
        </li> -->
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.totalPages)" class="page-link">&raquo;</a>
        </li>
      </ul>
    </tbody>
  </table>
</div>

<div *ngIf="new==true" class='container'>
  <table class="table" id='userTable'>
    <tr>
      <td>
        <label>Потребителско име</label>
        <input type="text" [(ngModel)]='user.username' required="true" class="form-control col-md-auto" placeholder="Username">
      </td>
    </tr>
    <tr>
      <td>
        <label>Име</label>
        <input type="text" [(ngModel)]='user.firstName' required="true" class="form-control col-md-auto" placeholder="First Name">
      </td>
    </tr>
    <tr>
      <td>
        <label>Фамилия</label>
        <input type="text" [(ngModel)]='user.lastName' required="true" class="form-control col-md-auto" placeholder="Last Name">
      </td>
    </tr>
    <tr>
      <td>
        <label>Парола</label>
        <input type="password" [(ngModel)]='user.password' required="true" class="form-control col-md-auto" placeholder="Password">
      </td>
    </tr>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary" type="submit" (click)='createUser(user)'>Създай</button>
    <button class="btn btn-secondary" type="submit" (click)='newClick(false)'>Обратно</button>
  </div>
</div>


