<p>
  users works!
</p>
<div class='container' *ngIf="new==false">
  <button (click)='newClick()'>New</button>
  <table class="table" id='userTable'>
    <thead>
      <tr *ngFor="let user of users">
        <td>
          <input type="text" [(ngModel)]='user.id'>
        </td>
        <td>
          <input type="text" [(ngModel)]='user.username'>
        </td>
        <td>
          <button (click)='editUser(user)'>Edit</button>
        </td>
        <td>
          <button (click)='deleteUser(user)'>Delete</button>
        </td>
      </tr>
    </thead>
  </table>
</div>

<div *ngIf="new==true" class='container'>
  <input type="text" [(ngModel)]='user.id'>
  <input type="text" [(ngModel)]='user.username'>
  <button (click)='createUser(user)'>Delete</button>
</div>