<p>
  users works!
</p>
<div class='container' *ngIf="new==false">
  <button (click)='newClick(true)'>New</button>
  <table class="table" id='userTable'>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>
          {{user.id}}
        </td>
        <td>
          <input type="text" [(ngModel)]='user.username' required="true" class="form-control" placeholder="Username">
        </td>
        <td>
          <button (click)='editUser(user)'>Edit</button>
        </td>
        <td>
          <button (click)='deleteUser(user)'>Delete</button>
        </td>
      </tr>
    </thead>
  </table>
</div>

<div *ngIf="new==true" class='container'>
  <table class="table" id='userTable'>
    <thead>
      <tr>
        <th scope="col">Username</th>
      </tr>
      <tr>
        <td>
          <input type="text" [(ngModel)]='user.username' required="true" class="form-control" placeholder="Username">
        </td>
      </tr>
    </thead>
  </table>
  <button (click)='createUser(user)'>Create</button>
  <button (click)='newClick(false)'>Back</button>
</div>